@use "../../../variables";
@use "../../../mixins";

.list-answers {
  margin: 0;
  padding: 0 8px 0 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  max-height: 322px;
  overflow-y: scroll;

  @include mixins.custom-scrollbar(
    8px,
    variables.$color-celtic-900,
    transparent
  );
}
