@use "../../../variables";

.box-question {
  border-radius: 16px;
  height: 144px;
  background-color: variables.$color-celtic-900;
  color: #fff;
  min-height: 144px;

  align-items: center;
  display: flex;
  justify-content: center;

  &__title {
    font-family: "Alexandria", sans-serif;
    font-size: 22px;
    font-weight: 400;

    margin: 0;
    padding: 18px 14px;
  }
}
