@use "../../variables";
@use "../../mixins";

.score-page {
  background-color: variables.$bg-page;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.tablet {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__container {
    padding: 16px;

    @include mixins.mobile {
      background-color: variables.$color-pancho-300;
      height: 100vh;
      width: 100%;
    }

    @include mixins.tablet {
      background-color: variables.$color-pancho-300;

      border-radius: variables.$border-radius-page-container;

      width: variables.$width-page-container;
    }

    @include mixins.desktop {
      background-color: variables.$color-pancho-300;

      border-radius: variables.$border-radius-page-container;

      width: variables.$width-page-container;
    }
  }
}
