@use "../../../variables";

.app-button {
  background-color: variables.$color-california-500;
  border-radius: 8px;
  box-shadow: 4px 4px 0 0 #000;

  font-family: "Alexandria", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;

  min-height: variables.$btn-height;
  width: 100%;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &--perfect {
    background-color: variables.$color-celtic-500;
    color: #fff;
  }

  &--great-work {
    background-color: variables.$color-pancho-900;
    color: #fff;
  }

  &--failed {
    background-color: variables.$color-clam-shell-400;
  }
}
