.questions-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 36px;

  &__subtitle {
    font-family: "Alexandria", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

    text-align: center;
    margin: 0;
  }
}
