// _mixins.scss
@use "sass:color";

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin custom-scrollbar($width: 8px, $color: #888, $bg: #f1f1f1) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background: $bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: color.adjust($color, $lightness: -10%);
  }
}
