// colors
$bg-page: #000;

// colors - celtic
$color-celtic-50: #f2f7f3;
$color-celtic-100: #dfecdf;
$color-celtic-200: #c1d9c4;
$color-celtic-300: #97be9d;
$color-celtic-400: #6a9d74;
$color-celtic-500: #4a7f56;
$color-celtic-600: #376443;
$color-celtic-700: #2c5036;
$color-celtic-800: #24412c;
$color-celtic-900: #1f3626;
$color-celtic-950: #101e14;

// colors - pancho
$color-pancho-50: #faf6f2;
$color-pancho-100: #f4ece0;
$color-pancho-200: #e9d8bf;
$color-pancho-300: #e1c9a9;
$color-pancho-400: #cb9d6c;
$color-pancho-500: #c0844f;
$color-pancho-600: #b27144;
$color-pancho-700: #94593a;
$color-pancho-800: #784934;
$color-pancho-900: #613d2d;
$color-pancho-950: #341f16;

// colors - california
$color-california-50: #fffcea;
$color-california-100: #fff3c5;
$color-california-200: #ffe885;
$color-california-300: #ffd546;
$color-california-400: #ffc11b;
$color-california-500: #ff9e01;
$color-california-600: #e27600;
$color-california-700: #bb5002;
$color-california-800: #983e08;
$color-california-900: #7c330b;
$color-california-950: #481800;

// colors - clam shell
$color-clam-shell-50: #faf6f6;
$color-clam-shell-100: #f5eceb;
$color-clam-shell-200: #eedcda;
$color-clam-shell-300: #d9b3af;
$color-clam-shell-400: #cea09b;
$color-clam-shell-500: #ba7f79;
$color-clam-shell-600: #a4655e;
$color-clam-shell-700: #88534d;
$color-clam-shell-800: #724742;
$color-clam-shell-900: #613f3b;
$color-clam-shell-950: #331e1c;

// page dimensions
$height-page-container: 706px;
$width-page-container: 320px;

// breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1025px;

// Border radius
$border-radius-page-container: 16px;

// Buttons - dimensions
$btn-height: 56px;
