// colors
$bg-page: #000;

// colors - pancho
$color-pancho-50: "#faf6f2";
$color-pancho-100: "#f4ece0";
$color-pancho-200: "#e9d8bf";
$color-pancho-300: "#e1c9a9";
$color-pancho-400: "#cb9d6c";
$color-pancho-500: "#c0844f";
$color-pancho-600: "#b27144";
$color-pancho-700: "#94593a";
$color-pancho-800: "#784934";
$color-pancho-900: "#613d2d";
$color-pancho-950: "#341f16";

// page dimensions
$height-page-container: 568px;
$width-page-container: 320px;

// breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1025px;
