@import "../../variables";
@import "../../mixins";

.home-page {
  background-color: $bg-page;

  &__container {
    height: 500px;
    width: 100%;

    @include mixins.mobile {
      background-color: red;
    }

    @include mixins.tablet {
      background-color: green;
      width: $width-page-container;
    }

    @include mixins.desktop {
      background-color: blue;
      width: $width-page-container;
    }
  }
}
