@import "../../variables";
@import "../../mixins";

.home-page {
  background-color: $bg-page;

  &__container {
    height: 500px;
    width: 100%;

    @include mobile {
      background-color: $color-california-500;
    }

    @include tablet {
      background-color: $color-celtic-700;
      width: $width-page-container;
    }

    @include desktop {
      background-color: $color-pancho-800;
      width: $width-page-container;
    }
  }
}
